name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
      - name: Install dependencies
        run: pnpm install
      - name: Build project
        run: pnpm build
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
      - name: Install dependencies
        run: pnpm install
      - name: Run prettier check
        run: pnpm run format:check
      - name: Run ESLint
        run: pnpm run lint
